<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="utf-8">
	<title>Context Menu</title>
	<link rel="stylesheet" href="cdns/bootstrap.min.css">
	<link rel="stylesheet" href="cdns/bootstrap-theme.min.css">
	<link rel="stylesheet/less" href="css/style.less">	
	<script>
	var less = {
		logLevel: 0
	};
	</script>
	<script type="text/javascript" src="cdns/less.min.js"></script>
	<script src="cdns/jquery-3.1.0.min.js"></script>
	<script src="cdns/bootstrap.min.js"></script>
</head>
<body ng-controller="mainCtrl">
	<div class="container">
		<!-- Parent scope -->
		<div class="">
			<div prevent visible="isVisible" object-data="objectData">
				<table class="datatable">
					<tr ng-repeat="t in templateData">
						<td class="haseebtesting" ng-click="current.selected = t; confusedFunction(t)" id="{{'test ' + $index}}">{{t.templateName}}</td>
						<td>{{t.templatePath}}</td>
					</tr>
				</table> 

				<div ng-show="isVisible" class="parented">
					<form class="haseebform">
						<input type="text" ng-model="objectData.entername" placeholder="Enter name"> <br>
						<input type="text" ng-model="objectData.entercomment" placeholder="Enter comment">
						<input type="button" class="btn btn-info" ng-click="addT(objectData)" value="Submit">
					</form>
				</div>
			</div>
		</div>
	</div>

	


	
	<script type="text/javascript" src="cdns/angular.min.js"></script>
	<script src="js/app.js"></script>
</body>
</html>

